// Color
$white:  #ffffff;
$black:  #000000;
$red:    #ff0000;
$orange: #e18034;
$gray:   #848484;

// Structure
$pageWidth: 970px;

// Text Selection
$selectionColor: orange;

// Links
$linkColor: #3b3e53;
$linkHoverColor: #ef713b;

// Box shadows
$boxShadow: 0px 10px 30px rgba(0,0,0,0.2);

// Breakpoints
$break-mobile:      550px;
$break-tablet:      1024px;
